<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Social Media</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
        integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>

<body>

    <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="/" class="navbar-brand">
                <img src="https://upload.wikimedia.org/wikipedia/en/f/f2/NPO_3FM_logo_2017.png" alt="" class="w-25">
            </a>
        </div>
    </div>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-8">
                {{{ body }}}
            </div>
            <div class="col-md-4">
                {{> stats}}
                {{> popular}}
                {{> comments}}
            </div>
        </div>

    </div>
    {{!-- scripts --}}
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {{!-- custome code --}}
    <script src="/public/js/scripts.js"></script>

</body>

</html>